spring:
  application:
    name: docking
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        time_zone: UTC
    
  datasource:
    url: jdbc:mysql://www.rickhendriks.com:3306/S5Camping?useSSL=false&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false
    username: S5Camping
    password: S5Camping    
    
  security:    oauth2:
        resourceserver:          jwt:            jwk-set-uri: http://85.146.20.136:8080/auth/realms/DreamBikeKeycloak/protocol/openid-connect#      client:#        provider:#          keycloak:
#            issuer-uri: http://85.146.20.136:8080/auth/realms/DreamBikeKeycloak
#            user-name-attribute: preferred_username
#        registration:
#          keycloak:
#            client-id: loginapp
#            client-secret: e729b79d-4280-4ce4-bcf3-4fd6321bc491
#
#rest:
#  security:
#    enabled: true
#    api-matcher: /api/**
#    cors:
#      allowed-origins: "*"
#      allowed-headers: "*"
#      allowed-methods: GET, POST, PUT, PATCH, DELETE, OPTIONS
#      max-age: 3600
#    issuer-uri: http://gateway:8181/keycloak/auth/realms/DreamBikeKeycloak
#
#security:
#  oauth2:
#    resource:
#      id: loginapp
#      token-info-uri: http://85.146.20.136:8080/auth/realms/DreamBikeKeycloak/protocol/openid-connect/token/introspect
#      user-info-uri: http://85.146.20.136:8080/auth/realms/DreamBikeKeycloak/protocol/openid-connect/userinfo
#      jwt:
#        key-value: -----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnFlDGfpUaqYreBIDCv7UvJN66po47nMquFfb5y4L1giUmUdbed1pWTVRQHaWStqIpFdmQ4hDIcVAB6+nfuIs8+fIuDxMe2zkbwG/59lMkzac28jF7nZQP/9x1l+DTs5TqA7RZV/l1DjA3b8Kzu7TdMboHMlHpk582Itvf4tL/EZQsd9cxpF6oDem0wK/MZVraKGfRHzrE9MIbPtCWHtMDW9Yg0pSIkkF3gX9UO72oCktS+kcNgu0PLT3MBOi0rr9g7fTUP4RSBr1N/P48m+L0SP6PtChXBY9aUgCnx6MExAsFpASwtztabQYNC4Dy0g8LyQnmY0AAaPaEH/ydU6cvwIDAQAB\n-----END PUBLIC KEY-----
##        
server:
  port: 8764

info:
  app:
    name: ${spring.application.name}

eureka:
  client:
    registerWithEureka: true
    serviceUrl: 
      defaultZone: http://registry:8761/eureka
    healthcheck:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include:
          - mappings
          - env
          - health
          - info
